.App {
  border: solid #cecdd3 2px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  margin: 0 auto;
  max-width: 650px;
  font-family: "Poppins", sans-serif;
}
.btn-info {
  background: #f83a00a1;
  border-color: #d2d1d3;
}

.chance,
h4 {
  margin-top: 5px;
  position: relative;
  right: 0;
  top: 25px;
  color: #555558;
  font-size: 35px;
  padding-left: 0;
}
.icon {
  color: #555558;
  position: relative;
  top: 70px;
}
.submit,
.current-location {
  width: 100px;
  height: 38px;
  font-size: 11px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #dad2cf;
  margin-left: 20px;
  float: left;
}
.icon,
.chance {
  text-align: center;
  display: block;
}
.sunrise,
.sunset,
.col-1 {
  color: #555558;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  font-size: 12px;
  margin-bottom: 5px;
  position: relative;
  text-align: left;
  left: 30px;
}
.date,
.time {
  font-size: 16px;
  font-weight: bolder;
  color: #555558;
  position: relative;
  text-align: left;
  left: 30px;
  padding-bottom: 15px;
}
ul,
li {
  list-style-type: none;
  color: #262627;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  position: relative;
  right: 6px;
}

.elements {
  position: relative;
  top: 35px;
}

.units {
  position: relative;
}

.units,
a {
  margin-top: 40px;
  padding: 2px;
  color: #ff521d;
  font-size: 18px;
  font-weight: bold;
}
.units,
a:link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.city {
  margin-top: 10px;
  text-align: left;
}
#search-bar {
  margin-top: 20px;
  margin-bottom: 15px;
}
.weather-forecast {
  max-width: 580px;
  margin: 0px 20px 15px 20px;
  padding: 12px;
  border-radius: 20px;
  background: rgba(249, 250, 250, 0.932);
}
.weather-forecast h4 {
  color: rgb(75, 76, 77);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast-temp {
  text-align: center;
  color: rgb(83, 80, 80);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
